.light-border {
    background-color: #4c7db0 !important;
    border-left: #c71f25 5px solid;
}

.top-pad {
    margin-top: 88px;
}

.white-bg {
    background-color: white;
}

/*重写bootstrap*/
.breadcrumb {
    margin-bottom: 2px;
    border-radius: 0;
    background-color: #4c7db0;
    color: #08326d;
}

    .breadcrumb li {
        text-shadow: none;
        font-weight: bold;
    }

.visible-ie8, .visible-ie9 {
    display: none;
}

.page-sidebar-menu li a {
    color: white;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #d64635;
    border-top-color: transparent;
    color: white;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px;
    padding-left: 44px !important;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}

    ul.page-sidebar-menu > li > ul.sub-menu > li.active > a, ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
        color: #000 !important;
        background: #e9f0f9 !important;
    }

    ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
        background: #e9f0f9 !important;
    }


ul.page-sidebar-menu > li > a {
    border-bottom: 1px solid #37639a !important;
    border-top: 1px solid #5f8dbb !important;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: bold;
}
