@{
    ViewBag.Title = "Home Page";
}
<div class="row-fluid">
    <div>
        <ul>
            @foreach (var claim in ViewBag.Claims.Claims)
            {
                <li>type:@claim.Type   value:@claim.Value</li>
            }
        </ul>
    </div>
</div>