@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="alertDiv" class="alert alert-error hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>错误!</h4>
    <div id="msgUser"></div>
</div>
<table class="table-bordered table-condensed" id="table-users" data-toggle="table" data-url="/SysAdmin/UserInfos"
       data-height="400" data-side-pagination="server" data-method="get" data-pagination="true"
       data-page-list="[10,20,50,100]" data-search="true" data-query-params="queryParams"
       data-show-columns="true">
    <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="UserName" data-align="center" data-sortable="true" data-switchable="false">用户名</th>
            <th data-field="RealName" data-align="center" data-sortable="true" data-switchable="false">姓名</th>
            <th data-field="Status" data-align="center" data-sortable="true" data-formatter="statusFormater">状态</th>
            <th data-field="Agent" data-align="center" data-sortable="true">机构</th>
            <th data-field="Roles" data-align="center" data-sortable="true">角色</th>
            <th data-field="LastVisit" data-align="center" data-sortable="true" data-formatter="dateFormatter">上次访问</th>
            <th data-align="center" data-switchable="false" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
        </tr>
    </thead>
</table>